html {
    min-height: 100%;
}

body {
    background-color: #151E0F;
    margin: 0 auto;

}
header {

    background-color: #515B3A;
    width: 100%;
    border-bottom-right-radius:  25px;

}
h1 {
    font-size: 25px;
    text-align: center;
    color: #E6FAFC;
    margin-top: -20px;
}
button {
    cursor: pointer;
}
#filebuttons button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-weight: bold;
    color:  white;
    font-size: 15px;
    margin-top: 25px;
}
#buttons {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
#buttons button , #buttons select{
    background-color: #6BA368;
    color: white;
    padding: 15px 15px;
    border-radius: 15px;
    margin-top: 20px; 
}
#filebuttons button:hover, #buttons button:hover , #buttons select:hover{
    background-color: rgb(133, 126, 126);
    border-radius: 15px;
    cursor: pointer;
}

textarea {
    margin: 40px auto;
    width: 70%;
    height: 75vh;
    display: flex;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
}

markdown-editor {
    width: 70%;
    transform: translateX(25%);
}

.profilepicture {
    border-radius: 80%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
hr{
    border: 3px solid  #5a9f52;
}
.leftstyle{
    width:100px;
    background-color: #2D3527;
    border-top-right-radius: 25px;  
}
#main{
    display: flex;
}
