:root{
    --font: 'Arial';
    --fontSize: 16px;
    --inputSize: 2ch;
}

textarea {
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: var(--font);
    font-size: var(--fontSize);
}

#output{
    font-family: var(--font);
    font-size: var(--fontSize);
}

input{
    width: var(--inputSize);
    max-width: 3ch;
    text-align: center;

}

button {
    margin-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: red;
}