body {
    font-family: Sans Serif;
}

button {
    cursor: pointer;
}
button {
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    position: relative;
    left: 50%;
}
button, select{
    background-color: #6BA368;
    color: white;
    padding: 15px 15px;
    border-radius: 15px;
}

textarea {
    width: 70%;
    height: 75vh;
    display: flex;
    position: relative;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
}

button:hover, button select:hover{
    background-color: rgb(133, 126, 126);
    border-radius: 15px;
    cursor: pointer;
}

#button_container {
    display: inline;
    flex-direction:row;
}

#preview {
    color: white;
    height: inherit;
    width: inherit;
}